<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clips</title>
</head>
<body>
<h1>Clips List</h1>

<!-- Navigation -->
<nav>
    <a href="create.html">Create New Clip</a>
</nav>

<!-- Buttons for sorting, total views, and search -->
<button id="sortIncrease">Sort by Increasing Views</button>
<button id="sortDecrease">Sort by Decreasing Views</button>
<label for="searchInput"></label><input type="text" id="searchInput" placeholder="Search by Artist">
<button id="findButton">Find</button>

<!-- Clips List -->
<ul id="clipList"></ul>

<!-- Total Views -->
<div id="totalViews"></div>

<script src="../scripts/scripts.js" type="module"></script>
</body>
</html>
